<h1><%= @restaurant.name %></h1>

<ul>
  <li>
    Address: <%= @restaurant.address %>
  </li>
  <li>
    Phone number: <%= @restaurant.phone_number %>
  </li>
  <li>
    Category: <%= @restaurant.category %>
  </li>
</ul>

<ol>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <ul>
      <li>(<%= "*" * review.rating %>) </li>
      <li><%= review.content %></li>
    </ul>
  </li>
  <% end %>
</ol>

<%= link_to "Add Reviews", new_restaurant_review_path(@restaurant) %>
